*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background: snow;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

span,
img,
i {
  display: block;
}

a {
  text-decoration: none;
  font: inherit;
}

ul li {
  list-style: none;
}

button {
  border: none;
  font: inherit;
  background: none;
  cursor: pointer;
}
