*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 30px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

span,
img,
i {
  display: block;
}

a {
  text-decoration: none;
  font: inherit;
}

ul li {
  list-style: none;
}

button {
  border: none;
  font: inherit;
  background: none;
  outline: none;
  cursor: pointer;
}

.article__card {
  display: grid;
  grid-template-rows: 1fr;
  background-color: #fff;
  border-radius: 12px;
  max-width: 330px;
}

.article__card__img-box {
  height: 220px;
  overflow: hidden;
  margin-bottom: 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.article__card__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__card__content {
  margin-bottom: 15px;
  padding: 0 30px;
}

.card__content__h1 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.card__content__p {
  font-size: 13px;
  line-height: 1.5;
  color: hsl(217deg, 19%, 35%);
  margin-bottom: 35px;
}

.article__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.avatar__img-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar__img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatar__info__h2 {
  margin-bottom: 4px;
  font-size: 14px;
}

.avatar__info__date {
  font-size: 14px;
  color: hsl(214deg, 17%, 51%);
}

.share {
  position: static;
  z-index: 1;
}

.share-button {
  color: hsl(212deg, 23%, 69%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: hsl(210deg, 46%, 95%);
}

.share__socials {
  background: hsl(217deg, 19%, 35%);
  display: flex;
  position: absolute;
  align-items: center;
  height: 80px;
  padding: 10px 30px;
  gap: 18px;
  z-index: -1;
  inset: -19px -30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  visibility: hidden;
}
.share__socials a i {
  font-size: 24px;
  color: #fff;
}

.share__socials--active {
  visibility: visible;
  transform: scale(1);
}

.share__title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  color: hsl(212deg, 23%, 69%);
}

@media (min-width: 868px) {
  .article__card {
    grid-template-columns: 280px minmax(100px, 630px);
    gap: 25px;
    max-width: 730px;
  }

  .article__card__img-box {
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  .article__card__content {
    padding: 35px 30px;
  }

  .share__socials {
    height: 50px;
    width: 240px;
    z-index: 0;
    border-radius: 10px;
    left: 62.5%;
    top: calc(-100% - 30px);
    transition: all 0.25s ease;
  }
  .share__socials a i {
    font-size: 18px;
  }

  .share__socials::after {
    content: "";
    background: hsl(217deg, 19%, 35%);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
  }
}

/*# sourceMappingURL=styles.css.map */
